header{
    background-color: $azulEscuro;
    padding: 20px 30px;
    width: 100%;

@media screen and (max-width: 786px) {
    .container{
        justify-content: space-between;
    }
}

    .grupo{
        display: flex;
        justify-content: space-between;
        position: relative;
    }

    .logo{
        width: 10%;
        a{
            text-decoration: none;
            display: flex;
            align-items: center;
            cursor: pointer;
            width: 160px;
            color:$corBranca;
            h2{
                @media screen and (max-width:780px) {
                    font-size: 20px;
                }
            }
        }

        img{
            width: 45px;
            height: 45px;
        }

    };

    .barra-pesquisa-desktop{
        width: 50%;
        display: flex;
        

    @media screen and (max-width: 980px) {
        display: none;
}
    
        input[type=text]{
            width: 100%;
            height: 25px;
        }&:focus{
            outline: 0;
        }

        img{
            width: 25px;
            height: 25px;
            position: relative;
            right: 26px;
            cursor: pointer;
        }
    };

    .entrar{
        width: 20%;
     a{
        text-decoration: none;
        display: flex;
        align-items: center;
        justify-content: space-evenly;
        cursor: pointer;

        img{
            width: 28px;
            height: 28px;
        }
        span{
            color: #EFEFEF;
            font-weight: 600;
            margin-left: 10px;
        }
    } }

    .btn-menu{
        width: 22px;
        height: 22px;
        transform: rotate(45deg);
        transition: 0.5s;
        position: relative;
        top: 2px;
        cursor: pointer;
    }
}

.barra-pesquisa-mobile{
    display: none;
    width: 80%;
    margin: 10px auto;

@media screen and (max-width: 980px) {
display: flex;
}


    input[type=text]{
        width: 100%;
        height: 25px;
        border: none;
        border-bottom: 1px solid #112B3C;
        background-color: transparent;
    }&:focus{
        outline: 0;
    }

    img{
        width: 25px;
        height: 25px;
        position: relative;
        right: 27px;
        cursor: pointer;
    }
}

.menu{
    display: none;
    width: 180px;
    padding: 0px 15px 0 15px;
    background-color: $azulEscuro;
    position: absolute;
    top: 45px;
    left: -50px;
    z-index: 1;

    ul{
        list-style-type: none;
        li{
            cursor: pointer;
            margin-top: 15px;
            a{
                text-decoration: none;
                color: $corBranca;
                font-size: 13px;
                text-transform: uppercase;
            }
        }
    }
}
 

