
.logo a{ 
    margin: 0 auto;
}

main .container{
    flex-direction: column;
    flex-wrap: wrap;
}

.top{
    width: 80%;
    margin: 20px auto 40px auto;
}

.top a{
    display: flex;
    align-items: center;
    text-decoration: none;
    color: inherit;
}

.top img{
    width: 30px;
    margin-right: 15px;
}

.top a p{
    font-size: 22px;
    font-weight: bold;
}


.login{
    width: 80%;
    max-width: 350px;
    margin-bottom: 40px;
}


.login h1{
    font-size: 22px;
    margin-bottom: 30px;
}

.login form{
    margin: 0 auto;
    width: 280px;
}

.login form input[type="text"],.login form input[type="password"]{
    
    width: 100%;
    display: block;
    border: none;
    margin: 0 0 15px 0;
    background-color: transparent;
    border-bottom: 2px solid #112B3C;
}

.login form input[type="button"]{
    height: 30px;
    width: 180px;
    margin: 0 auto;
    display: block;
    border: none;
    background-color: #205375;
    color: #EFEFEF;
    border-radius: 15px;
    margin-top: 40px;
}
.login form input[type="button"]:hover{
    background-color: #112B3C;
    cursor: pointer;
}
.metodos{
    width: 80%;
    max-width: 350px;
}

.metodos h1{
    font-size: 22px;
    margin-bottom: 30px;
}

.metodos form{
    margin: 0 auto;
    width: 280px;
}

.log-icons{
    width: 100%;
    text-align: center;
}

.log-icons img{
    width: 40px;
    margin-right: 15px;
}

.log-icons img:hover{
    width: 45px;
    margin-right: 15px;
}

.log-icons h2{
    font-size: 22px;
    margin-top: 30px;
}

.log-icons h2 a{
    color: #205375;
    text-decoration: underline;
    margin-left: 10px;
    display: block;
}

.log-icons h2 a:hover{
    color: #112B3C;
    cursor: pointer;
}

@media screen and (min-width: 950px) {
    main .container{
        flex-direction: row;
        margin-top: 100px;
        align-items: flex-start;
    }

    .top{
        display: none;
    }

    .metodos{
        text-align: center;
    }

    .log-icons h2 a{
        color: #205375;
        text-decoration: underline;
        margin-left: 10px;
        display: block;
    }

}