$corBranca: #EFEFEF;
$brancoBG:white;
$azulEscuro: #112B3C;
$corBotao:#F66B0E;
$corBotaoHover:#b34802;

.logo{ 
    margin: 0 auto;
    width: 150px !important;
}

.top{
    width: 80%;
    margin: 20px auto 40px auto;
    a{
        display: flex;
        align-items: center;
        text-decoration: none;
        color: inherit;
        p{
            font-size: 22px;
            font-weight: bold;
        }
    }
    img{
        width: 30px;
        margin-right: 15px;
    }

}

textarea{
    width: 280px;
    display: block;
    height: 120px;
    resize: none;
    margin: 10px 0 20px 0;
    background-color: transparent;
    border:2px solid #112B3C;
    padding: 10px 20px;
    font-weight: bold;
    &:focus{
        outline: 0;
    }
}

 form input[type="text"], form input[type="password"], form input[type="text"],form input[type="password"]{
    width: 100%;
    display: block;
    border: none;
    margin: 0 0 20px 0;
    background-color: transparent;
    border-bottom: 2px solid #112B3C;
    font-weight: bold;
    text-align: center;
    &:focus{
        outline: 0;
    }
}

 form input[type="button"]{
    height: 30px;
    width: 180px;
    margin: 0 auto;
    display: block;
    border: none;
    background-color: $corBotao;
    color: $corBranca;
    border-radius: 15px;
    margin-top: 40px;
    &:hover{
        background-color: $corBotaoHover;
        cursor: pointer;
    }
}

 select:focus{
    outline: 0;
 }

input[type='file'] {
    display: none
  }
  
label.Flabel {
    width: 280px;
    height: 170px;
    text-align: center;
    padding-top: 25% ;
    display: inline-block;
    background-color: white;
    border: 4px dashed black;
    color: black;
    cursor: pointer;
    margin-bottom: 20px;
  }

  