$corBranca: #EFEFEF;
$brancoBG:white;
$azulEscuro: #112B3C;
$corBotao:#F66B0E;
$corBotaoHover:#b34802;

*{
    padding: 0px;
    margin: 0px;
    box-sizing: border-box;
    font-family: 'Poppins', sans-serif;
}

html,body{
    width: 100%;
    background-color: $corBranca;
}

.container{
    max-width: 1100px;
    padding: 0 3%;
    margin: 0 auto;
    display: flex;
    align-items: center;
    justify-content: space-around;
}



@import "header.scss";
@import "slickm.scss";
@import "home.scss";
@import "footer.scss";