<header>
    <div class="container">       
    <div class="logo"><a href="/"><img src="img/Vetor UniStore.svg" alt=""><h2>UniStore</h2></a></div>
    <div class="barra-pesquisa-desktop"><input type="text"><img src="img/procurar.png" alt=""></div>
    <div class="grupo">

      <% if(autenticado.autenticado){%>
        <% console.log(autenticado.autenticado)%>
      <%}else{%>
        
        <div class="entrar"><a href="/login"><img src="img/enter.png" alt=""><span>Entrar!</span></a></div>
  
       <% }%>
    
    <div class="menu">
      <ul>
        <% if(autenticado.autenticado){%>
          <li><a href="/usuario">Perfil ></a></li>
          <%}else{%>
            <li><a href="/login">Perfil ></a></li>
           <% }%>
        <li><a href="/carrinho">Carrinho ></a></li>
        <li><a href="">Feminino ></a></li>
        <li><a href="">Masculno ></a></li>
        <li><a href="">Infantil ></a></li>
        <li><a href="/cadastrar_produto">Cadastrar Produto ></a></li>
        <li><a href="">Sobre a Nós ></a></li>
        <% if(autenticado.autenticado){%>
          <li style="text-align: center;"><a href="/sair"><img style="width: 26px;"src="img/sair.png" alt=""> <span style="top: -8px; position:relative;"> Sair ></span></a></li>
          <%}else{%>
  
           <% }%>
        
      </ul>
    </div>
    <img class="btn-menu" src="img/cancel.png" alt="">
    </div>
    
    </div> 
</header>