<!DOCTYPE html>
<html lang="pt-br">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>UniStore</title>
    <link rel="icon" type="image/x-icon" href="img/favicon-16x16.png">
    <link href="https://fonts.googleapis.com/css2?family=Poppins:wght@200&display=swap" rel="stylesheet">


    <link rel="stylesheet" href="css/global.css">
    <link rel="stylesheet" href="css/form-styles.css">
    <link rel="stylesheet" href="css/log_cad.css">
</head>
<body>
    <%-include ('../partial/headersimple.ejs') %>
    <main>
        <main>
            <div class="top"><a href="/login"><img src="img/seta-esquerda.png" alt=""><p>Voltar</p></a></div>
            <div class="container">
                <div class="cadastro">
                    <h1>Fazer Cadastro:</h1>
                    <form action="/cadastro" method="post">
                    <div class="divisor">
                        <div class="one">

                        <label for="nc">Nome Completo</label>
                        <input type="text" name="nome" id="cn">

                        <label for="nu">Nome de Usuario</label>
                        <input type="text" name="nome_usu" id="nu">

                        <label for="email">E-mail</label>
                        <input type="text" name="email" class="email" id="email">

                        </div>
                        <div class="two">
                        <div class="wrap">
                        <div>
                        <label for="tel ">Celular</label>
                        <input type="text" name="celular" id="tel" class="w50 telefone">
                        </div>

                        <div>
                        <label for="cpf w50">CPF</label>
                        <input type="text" name="cpf" id="cpf" class="w50 cpf">
                        </div>

                        </div>
                        
                        <label for="Senha">Senha</label>
                        <input type="password" name="senha" id="senha">

                        </div>
                    </div>
                        <input type="submit" value="Fazer cadastro">
                        </form>
                        <div class="log">
                        <h2>Já tem uma conta? <a href="/login">Entrar</a></h2>
                    </div>
                </div>
            </div>
    </main>











    <footer>
        <div class="container">
          <ul>
            <li><h3>UniStore</h3></li>
            <li><h3>Quem Somos</h3></li>
            <li><h3>Politica de Privacidade</h3></li>
          </ul>
          <div class="social">
            <img src="img/instagram.png" alt="">
            <img src="img/facebook-app-symbol.png" alt="">
            <img src="img/twitter.png" alt="">
          </div>
        </div>
      </footer>
      
      
      
      
      
      
      
      <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.6.0/jquery.min.js"></script>
      <script src="js/jquery.mask.min.js"></script>
      <script src="js/mascaraForms.js"></script>
      </body>
      </html>