<!DOCTYPE html>
<html lang="pt-br">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>UniStore</title>
    <link rel="icon" type="image/x-icon" href="img/favicon-16x16.png">
    <link href="https://fonts.googleapis.com/css2?family=Poppins:wght@200&display=swap" rel="stylesheet">

    <link rel="stylesheet" href="css/slick-theme.css">
    <link rel="stylesheet" href="css/slick.css">
    <link rel="stylesheet" href="css/form-style.css">
    <link rel="stylesheet" href="css/login_cadastro.css">
    <link rel="stylesheet" href="css/global.css">
</head>
<body>
    <header>
      <div class="logo"><a href="/"><img src="img/Vetor UniStore.svg" alt=""><h2>UniStore</h2></a></div>
    </header>
    <main>
        <main>
            <div class="top"><a href="index.html"><img src="img/seta-esquerda.png" alt=""><p>Voltar</p></a></div>
            
                    <form action="">
                    <div class="container">
                        <div class="divisor">
                        <div class="one">
                        <label for="nc">Nome de Usuario</label>
                        <input type="text" id="cn">
                        <label for="nu">Email</label>
                        <input type="text" id="nu">
                        <label for="email">Telefone</label>
                        <input type="text" id="email">
                        </div>
                        <div class="two">
                        <label for="rua">Rua</label>
                        <input type="text" id="rua">
                        <div class="wrap">
                            <div>
                            <label for="CEP ">CEP</label>
                            <input type="text" id="CEP" class="w50">
                            </div>
                            <div>
                            <label for="numero w50">Numero</label>
                            <input type="text" id="numero" class="w50">
                            </div>
                            </div>
                        <label for="bairro">Bairro</label>
                        <input type="text" id="bairro">
                        </div>
                    </div>
                    </div>
                        <input type="button" value="Salvar alterações">
                        </form>
                </div>
            </div>
    </main>











    <footer>
        <div class="container">
          <ul>
            <li><h3>UniStore</h3></li>
            <li><h3>Quem Somos</h3></li>
            <li><h3>Politica de Privacidade</h3></li>
          </ul>
          <div class="social">
            <img src="img/instagram.png" alt="">
            <img src="img/facebook-app-symbol.png" alt="">
            <img src="img/twitter.png" alt="">
          </div>
        </div>
      </footer>
      
      
      
      
      
      
      
      <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.6.0/jquery.min.js"></script>
      <script src="js/slick.min.js"></script>
      <script src="js/slide.js"></script>
      <script src="js/menu.js"></script>
      </body>
      </html>