<!DOCTYPE html>
<html lang="pt-br">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>UniStore</title>
    <link rel="icon" type="image/x-icon" href="img/favicon-16x16.png">
    <link href="https://fonts.googleapis.com/css2?family=Poppins:wght@200&display=swap" rel="stylesheet">

    <link rel="stylesheet" href="css/slick-theme.css">
    <link rel="stylesheet" href="css/slick.css">
    <link rel="stylesheet" href="css/global.css">
    <link rel="stylesheet" href="css/style.css">
</head>
<body>
    <%-include('../partial/header.ejs')%>
    <div class="barra-pesquisa-mobile"><input type="text"><img src="img/procurar.png" alt=""></div>
    <nav class="categorias"><h3>infantil</h3> <h3>masculino</h3> <h3>feminino</h3></nav>


<section class="instituicoes">
    <h2 class="title-inst">Navegue por instituições:</h2>

    <div class="slider container">
    
        <div class="img"><img src="img/mackenzie.png" alt=""></div>
        <div class="img"><img src="img/Objetivo.png" alt=""></div>
        <div class="img"><img src="img/daycare.png" alt=""></div>
        <div class="img"><img src="img/redballoon.png" alt=""></div>
        <div class="img"><img src="img/fieb.png" alt=""></div>
        <div class="img"><img src="img/chalupe.png" alt=""></div>
</div>
</section>

<section class="cidade">
  <div class="container">
  <p>Procure por uniformes em sua cidade:</p>
  <select name="cidades" id="cidades">
    <option value="Barueri">Barueri</option>
    <option value="Osasco">Osasco</option>
    <option value="Santana de Pernaiba">Santana de Pernaiba</option>
  </select>
</div>
</section>

<section class="vitrine-produtos">
  <div class="container">
  <div class="box-produto">
    <div class="img-box"></div>
    <p class="descricao">Shorts masculino ITB, Tamanho G, Usado</p>
    <span class="preco">R$15,00</span>
  </div>
  <div class="box-produto">
    <div class="img-box"></div>
    <p class="descricao">Shorts masculino ITB, Tamanho G, Usado</p>
    <span class="preco">R$15,00</span>
  </div>
  <div class="box-produto">
    <div class="img-box"></div>
    <p class="descricao">Shorts masculino ITB, Tamanho G, Usado</p>
    <span class="preco">R$15,00</span>
  </div>
  <div class="box-produto">
    <div class="img-box"></div>
    <p class="descricao">Shorts masculino ITB, Tamanho G, Usado</p>
    <span class="preco">R$15,00</span>
  </div>
  <div class="box-produto">
    <div class="img-box"></div>
    <p class="descricao">Shorts masculino ITB, Tamanho G, Usado</p>
    <span class="preco">R$15,00</span>
  </div>
  
  
  
</div>
<button>Ver mais itens</button>
</section>

<footer>
  <div class="container">
    <ul>
      <li><h3>UniStore</h3></li>
      <li><h3>Quem Somos</h3></li>
      <li><h3>Politica de Privacidade</h3></li>
    </ul>
    <div class="social">
      <img src="img/instagram.png" alt="">
      <img src="img/facebook-app-symbol.png" alt="">
      <img src="img/twitter.png" alt="">
    </div>
  </div>
</footer>







<script src="https://ajax.googleapis.com/ajax/libs/jquery/3.6.0/jquery.min.js"></script>
<script src="js/slick.min.js"></script>
<script src="js/slide.js"></script>
<script src="js/menu.js"></script>
</body>
</html>