nav.categorias{
    display: flex;
    max-width: 470px;
    margin: 0 auto 50px auto;
    justify-content: space-around;
    padding: 15px 0;
    text-align: center;
    h3{
        text-transform: uppercase;
        font-weight: bold;
        border-bottom: 1px solid #F66B0E;
        cursor: pointer;
    }
}

section.instituicoes{
    max-width: 900px;
    margin: 0 auto;
    margin-top: 50px;
    .title-inst{
        max-width: 800px;
        padding-left: 5%;
    }
    .slider{
        max-width: 800px;
        margin: 0 auto;
        display: block;
        div.img{
            width: 200px;
            height: 200px;
            border: 5px solid $corBranca;
            display: flex;
            justify-content: center;
            align-items: center;
            img{
                width: clamp(150px, 80%, 200px);
                margin: 0 auto;
                cursor: pointer;
            }
        }
    }
    
}




section.cidade{
    background-color: $azulEscuro;
    margin-top: 100px;
    height: 100px;
    width: 100%;
    .container{
        max-width: 960px;
    }
    p{
        color: $corBranca;
        font-size: 22px;
        width: 350px;
        font-weight: bold;
    }
    select{
        cursor: pointer;
        width: 240px;
        height: 40px;
        font-weight: bold;
        &:focus{
            outline: none;
        }
    }
}

section.vitrine-produtos{
    margin-top: 60px;

    .container{
        max-width: 1100px;
        flex-wrap: wrap;

        .box-produto{
            background-color: $brancoBG;
            cursor: pointer;
            width: 180px;
            height: 260px;
            padding: 10px;
            text-align: center;
            border-radius: 10px;
            margin-top: 30px;
            .img-box{
                width: 95%;
                height: 100px;
                margin: 0 auto;
                background-color: #ccc;
            }
            p{
                text-align: left;
                margin: 20px 0;
            }
            .preco{
    font-weight: bold;
    margin-top: 20px;
}
        }
    }
    button{
        width: 160px;
        height: 40px;
        cursor: pointer;
        font-size: 18px;
        background-color: #F66B0E;
        color: $corBranca;
        border-radius: 15px;
        border: none;
        margin: 0 auto;
        display: block;
        margin-top: 50px;
        &:hover{
            background-color: #d35806;
        }
    }

}







