
    
.slick-dotted{

    ul{
        display: block;
            list-style-type: none;
            text-align: center;
            position: relative;
            top:30px;
    }

    .slick-dotted li{
        display: inline-block;
        margin: 0 7px;
    }

    
    
        li button{
            width: 16px;
            height: 16px;
            border-radius: 8px;
            color: #d8d8d8;
            border-width: 0;
            background: #d8d8d8;
            opacity: 1;
            cursor: pointer;
        }
    



} 

li.slick-active button{
    background: $azulEscuro;
    color: #373855;
}

.slick-slide:focus { outline: none; }